html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

/*------------------Адаптивный дизайн------------------ */

@media (max-width: 768px) {
    .container {
      max-width: 95%;
      padding: 10px;
    }
  
    .product-grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Изменяем ширину карточек */
    }
  
    /* Другие стили для мобильной версии */
}
  
  /* Для планшетов (экраны шириной от 768px до 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
      max-width: 90%;
    }
  
    /* Другие стили для планшетов */
}
  
  /* Для больших экранов (ширина от 1024px) */
@media (min-width: 1024px) {
    /* Стили для больших экранов */
}

/*------------------Адаптивный дизайн-КОНЕЦ------------ */



body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/*------------------Стили для формы поиска------------------*/
*{
    box-sizing: border-box;
  }
  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    margin-left: 50px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #000000;
    padding-right: 40px;
    color:#000000;
  }
  .input-search::placeholder{
    color:rgba(0, 0, 0, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

/*------------------Стили для формы поиска-КОНЕЦ------------ */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'League+Gothic', sans-serif
}

.logo {
    margin-right: 50px;
}

/*------------------logo------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --background: #060608;
    --color: #000000;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    font-family: Arial;
  }
  
  .container {
    color: var(--color);
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  .right {
    text-align: right;
    width: 100%;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }

/*------------------logo-КОНЕЦ----------------- */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007bff;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    padding: 0px 0;
}

.hero-text {
    text-align: center;
}

.hero-text h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.hero-text p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
}

.hero-text button {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-text button:hover {
    background-color: #0056b3;
}

.hero-image img {
    max-width: 500px;
    height: auto;
}

section {
    padding: 40px 0;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product, .product-main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    position: relative; /* Добавляем позиционирование для .product */
}

.product:hover {
    transform: translateY(-5px);
}
.product-main:hover {
  transform: translateY(-5px);
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.product-main img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-image {
    position: relative; /* Добавляем позиционирование для .product-image */
    overflow: hidden; /* Скрываем избыточный контент */
    height: 200px; /* Задаем высоту для .product-image */
}

.product-image img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Добавляем плавный переход */
}

.product-image img:hover {
    transform: scale(1.1); /* Увеличиваем размер изображения при наведении */
}

.product::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/main3.gif"); /* Путь к вашей гифке */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.5s ease; /* Плавный переход прозрачности */
    z-index: -1; /* Отправляем гифку назад */
}

.product-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/main4.gif"); /* Путь к вашей гифке */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0; /* Начальная прозрачность */
  transition: opacity 0.5s ease; /* Плавный переход прозрачности */
  z-index: -1; /* Отправляем гифку назад */
}

.product:hover::before {
    opacity: 1; /* Делаем гифку видимой при наведении на карточку */
}

.product-info {
    margin-bottom: 10px;
}

.product-info h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 15px;
}

.product-info p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 15px;
}

.price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.product-info h3,
.product-info p,
.product-info .price {
    color: #333; /* Базовый цвет текста */
    transition: color 0.3s ease; /* Добавляем плавный переход */
}

.product:hover .product-info h3,
.product:hover .product-info p,
.product:hover .product-info .price {
    color: #ffffff; /* Меняем цвет текста при наведении */
}

.add-to-cart {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.social-links li {
    display: inline-block;
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #007bff;
}
